lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.log.*
*.nedb
*test/tmp*
*test/test-tmp*
test/test-temp/*
!test/test-temp/.tests.use.this
*.db

pids
logs
results

npm-debug.log
node_modules
public/*
.idea/

.DS_Store
